{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'district_officer/district_officer_index.html' %}
{% block body %}

<body>
<form action="/myapp/edit_councilor_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ data.id }}">
  <table width="200" border="1">
    <tr>
      <th>Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.name }}"required/></td>
    </tr>
    <tr>
    <th>Gender</th>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup1" value="male" {% if data.gender == 'male' %}checked{% endif %} id="RadioGroup1_0" />
        male</label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="female" {% if data.gender == 'female' %}checked{% endif %} id="RadioGroup1_1" />
        female</label>
      <br />
      <br />
    </p></td>
  </tr>
    <tr>
      <th>DOB</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.dob }}"required/></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" value="{{ data.phone }}"required /></td>
 /></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" value="{{ data.email }}"required /></td>
 /></td>
    </tr>
    <tr>
      <th>Photo</th>
      <td><img src="{{ data.photo }}" width="90" height="90">
      <input type="file" name="fileField" id="fileField" required/></td>
    </tr>
    <tr>
      <th>Place</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6"  value="{{ data.place }}" required/></td>
    </tr>
    <tr>
      <th>Post</th>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" value="{{ data.post }}" required/></td>
    </tr>

    <tr>
      <th>District</th>
      <td><label for="textfield9"></label>
      <input type="text" name="textfield9" id="textfield9"  value="{{ data.district }}" required/></td>
    </tr>
    <tr>
      <th>State</th>
      <td><label for="textfield10"></label>
      <input type="text" name="textfield10" id="textfield10" value="{{ data.state }}" required /></td>
    </tr>
      <tr>
    <td colspan=""><input type="submit" name="button" id="button" value="Submit"  /></td>
    <td>&nbsp;</td>
  </tr>
  </table>

</form>
</body>
</html>
{% endblock %}