{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'district_officer/district_officer_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/view_councilors_POST/">
    {% csrf_token %}
 <table width="200" border="1">
  <tr>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield" id="textfield2" /></td>
    <td><input type="submit" name="button" id="button" value="search" required /></td>
  </tr>
</table>


  <table width="200" border="1">
    <tr>
      <th>S/no.</th>
      <th>Name</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>contact</th>
      <th>Address</th>
      <th>photo</th>
      <th></th>
      <th></th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.name }}</td>
      <td>&nbsp;{{ i.gender }}</td>
      <td>{{ i.dob }}&nbsp;</td>
      <td>&nbsp;{{ i.phone }}<br>
           {{ i.email }}</td>
        <td>{{ i.place }}<br>
       {{ i.post }}<br>
       {{ i.district }}<br>
       {{ i.state }}</td>
      <td><img src="{{ i.photo }}" width="90" height="90"></td>
      <td><a href="/myapp/edit_councilor/{{ i.id }}#a">Edit</a></td>
      <td><a href="/myapp/delete_councilor/{{ i.id }}">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>

{% endblock %}