{% extends 'admin/admin_index.html' %}
{% block body %}

<body><form action="/myapp/edit_package_post/" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ data.id }}" name="id">
<table width="200" border="1">
  <tr>
    <th>Name</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.name }}" required/></td>
  </tr>
  <tr>
    <th>Type</th>
    <td><label for="select"></label>
        <select name="select" id="select">
        <option value="medicine" {% if data.type == 'medicine' %}selected{% endif %}>Medicine</option>
        <option value="food" {% if data.type == 'food' %}selected{% endif %}>Food</option>
    </select>
    </td>
  </tr>
  <tr>
    <th>Description</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data.description }}" required/></td>
  </tr>
  <tr>
    <th>Amount</th>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.amount }}" required/></td>
  </tr>
  <tr>
    <td><input type="submit" name="button" id="button" value="edit" /></td>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
</body>
{% endblock %}
